html, body {
  border: 0px;
  margin: 0px;
  padding: 0px;
  font-family: Helvetica, sans-serif;
}

canvas {
  display: block;
}

div.video {
  position: static;

}

button {
  display: inline-block;
  padding: 0px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
}

button:hover {
  background-color: #3e8e41
}

button:active {
  background-color: #3e8e41;
  transform: translateY(4px);
}

#datasheet {
  position: static;

}
