html, body {
  border: 0px;
  margin: 0px;
  padding: 0px;
}

canvas {
  display: block;
}

div.video {
  position: static;

}

button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#datasheet {
  position: static;

}
