<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Control Panel</title>
    <link rel="shortcut icon" type="image/jpg" href="bristol.jpg"/>
    <script src="js/libraries/p5.min.js"></script>
    <script src="js/stopwatch.js"></script>
    <link rel="stylesheet" href="js/style.css">
    <style>
        .button {
            display: inline-block;
            padding: 10px 20px;
            font-size: 20px;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
            outline: none;
            color: #fff;
            background-color: #4CAF50;
            border: none;
            border-radius: 15px;
        }

        .button:hover {
            background-color: #3e8e41
        }

        .button:active {
            background-color: #3e8e41;
            transform: translateY(4px);
        }

        p.ex1 {
            margin: 10px;
        }
    </style>
</head>
<div id="fuel_panel" class="video"></div>
<script src="https://player.vimeo.com/api/player.js"></script>
<script src="js/sketch.js"></script>
<TABLE WIDTH="100%"   CELLPADDING="4" id="datasheet">
    <style>
        tr
        {
            background-color: aliceblue;
        }
    </style>
    <TR>
        <TH>Engine speed (m/s)</TH>
        <TH>Fuel drop length (m)</TH>
        <TH>Torque (Nm) </TH>
        <TH>Fuel Time (s) </TH>
    </TR>

</TABLE>
<button type="button" onclick="add_fields()" >Add a new reading</button>
<script>
    function add_fields() {
        document.getElementById("datasheet").insertRow(-1).innerHTML = '<tr><td><textarea name ="Speed" placeholder="Enter engine speed"  id="speed" style = "resize: none;"></textarea></td><td><textarea name="Fuel drop" placeholder ="Enter fuel drop length"  ' +
            'id="fuel drop" style="resize:none;"></textarea></td >' +
            '<td><textarea name="Torque" placeholder ="Enter torque" ' +
            'id="Torque" style="resize: none;"></textarea></td > <td><textarea name="Fuel Time" placeholder ="Enter fuel drop time"  ' +
            'id="Time" style="resize:none;"></textarea></td ></tr>\</tr>';
    }
</script>
<div id="Engine Calculation" style="width:100%"></div>
<div id="header" style="background-color:#E6E6FA;text-align:center; border-style:solid; border-color:grey">
    <h1 style="margin-bottom:0;">Engine Calculation</h1>
</div>

<div id="step1"
     style="background-color:#F5FFFA; height:400px; width:30%; float:left; font-size:18px; border-style:ridge">

    <b>Step 1</b><br>
    <p class="ex1">Enter the initial parameters of the experiment.<br>
        <br>
        <br>
        <br>
        Fuel drop length = <td><input type="text" id="fuelDropLength" size="5" required /></td> cm<br>
    Choose the fuel type:<br>
    <input type="radio" name="Q1" value="A" onClick=Q1.value required /> Petrol<br>
    <input type="radio" name="Q1" value="B" onClick=Q1.value required /> Diesel<br>
    </p>
    <br>
    <br>
    <br>
    <input type="button" class="button" onclick="checkStepOne()" value="Next">
</div>

<div id="step2"
     style="background-color:hsl(120,30%,90%);height:400px;width:32%;float:left;font-size:18px; border-style:ridge">
    <b>Step 2</b><br>
    <p class="ex1">Enter your readings.<br>
        <br>
        <br>
        <br>
        Speed = <td><input type="text" id="speed" size="5" required /></td> rpm<br>
    Torque = <td><input type="text" id="torque" size="5" required /></td> Nm (with 1 decimal place)<br>
    Fuel time = <td><input type="text" id="fuelTime" size="5" required /></td> s (with 2 decimal places)<br>
    </p>
    <br>
    <br>
    <br>
    <input type="button" class="button" onclick="checkStepTwo()" value="Next">
</div>

<div id="step3"
     style="background-color:hsl(120,30%,80%);height:400px;width:36%;float:left;font-size:18px; border-style:ridge">
    <b>Step 3</b><br>
    <p class="ex1">Enter the results of your calculations.<br>
        <br>
        <br>
        <br>
        Fuel Flow = <td><input type="text" id="fuel flow" size="5" required /></td> kg/s (3 sig.fig.)<br>
    Brake Power = <td><input type="text" id="brake power" size="5" required /></td> W (3 s.f.)<br>
    Fuel Power = <td><input type="text" id="fuel power" size="5" required /></td> W (3 s.f.)<br>
    Brake Thermal Efficiency = <td><input type="text" id="brake thermal efficiency" size="5" required /></td> %
    (3 s.f.)<br>
    </p>
    <br>
    <br>
    <br>
    <br>
    <input type="button" class="button" onclick="checkStepThree()" value="Check">
</div>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="sweetalert2.all.min.js"></script>
<!-- Optional: include a polyfill for ES6 Promises for IE11 -->
<script src="//cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.js"></script>

<script src="js/calcScript.js"></script>
</html>