<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CAME School Virtual Engine Lab</title>
    <link rel="stylesheet" href="js/style.css">
</head>
<body>
<p>Hello and welcome to the MVP of the virtual Engine Lab for the CAME school at the University of Bristol</p>
<p>Please note this is a very bare bones implementation of our product, purely designed to show you our current ideas</p>
<p><a href="/control_panel">Control Panel</a></p>
<p><a href="/calculations">Calculations</a></p>
</body>
</html>